<app-glass-nav title="Dashboard | Admin" type="admin"></app-glass-nav>
<div class="container btn-group btn-group-lg d-flex mx-auto my-3" role="group" aria-label="Large button group">
    <a routerLink="/dashboard/admin/" type="button" class="btn btn-outline-dark">Home</a>
    <a routerLink="labs" type="button" class="btn btn-outline-dark">Labs</a>
    <a routerLink="instructors" type="button" class="btn btn-outline-dark">Instructors</a>
    <a routerLink="students" type="button" class="btn btn-outline-dark">Students</a>
    <a routerLink="classroom" type="button" class="btn btn-outline-dark">Classrooms</a>
</div>

<div class="container my-2">
    <router-outlet></router-outlet>
</div>