<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Nav START -->
	<nav class="navbar navbar-expand-xl z-index-9">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" >

				<img class="light-mode-item navbar-brand-item" src="assets/images/laas.svg" alt="logo" style="height: 50px; width:50px">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/laas.svg" alt="logo" style="height: 50px; width:50px">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			

			<!-- Profile and notification START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				<!-- Wishlist START -->
				<li class="nav-item ms-0 ms-sm-2 d-none d-sm-block">
					<a routerLink="/create" class="btn btn-light btn-round mb-0" > <i class="bi bi-plus fa-fw"></i></a>
				</li>
				<!-- Wishlist END -->

				<!-- Notification dropdown START -->
				<li class="nav-item ms-2 ms-sm-3 dropdown" *ngIf="isAuthenticated">
					<!-- Notification button -->
					<a class="btn btn-light btn-round mb-0"  role="button" data-bs-toggle="dropdown"
						aria-expanded="false" data-bs-auto-close="outside">
						<i class="bi bi-bell fa-fw"></i>
					</a>

					<!-- Notification dote -->
					<span class="notif-badge animation-blink"></span>

					<!-- Notification dropdown menu START -->
					<div
						class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 shadow-lg border-0">
						<div class="card bg-transparent">
							<div
								class="card-header bg-transparent border-bottom py-4 d-flex justify-content-between align-items-center">
								<h6 class="m-0">Notifications <span
										class="badge bg-danger bg-opacity-10 text-danger ms-2">2 new</span></h6>
								<a class="small" >Clear all</a>
							</div>
							<!-- Button -->
							<div class="card-footer bg-transparent border-0 py-3 text-center position-relative">
								<a  class="stretched-link">See all incoming activity</a>
							</div>
						</div>
					</div>
					<!-- Notification dropdown menu END -->
				</li>
				<!-- Notification dropdown END -->
				<li class="nav-item ms-3 dropdown" *ngIf="!isAuthenticated"><a class="btn btn-primary" routerLink="auth">Login</a></li>
				<!-- Profile dropdown START -->
				<li class="nav-item ms-3 dropdown">
					<!-- Avatar -->
					<a *ngIf="isAuthenticated" class="avatar avatar-sm p-0"  id="profileDropdown" role="button"
						data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
						aria-expanded="false">
						<img class="avatar-img rounded-circle" [src]="profilePicture" alt="avatar">
					</a>




					<!-- Profile dropdown START -->
					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3"
						aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" [src]="profilePicture"
										alt="avatar">
								</div>
								<div>
									<a class="h6" >{{userInformation.name}}</a>
									<p class="small m-0">{{userInformation.email}}</p>
								</div>
							</div>
						</li>
						<!-- Links -->
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" routerLink="auth/profile"><i class="bi bi-person fa-fw me-2"></i>Edit Profile</a>
						</li>
						<li><a class="dropdown-item" ><i class="bi bi-gear fa-fw me-2"></i>Account Settings</a>
						</li>
						<li><a class="dropdown-item" routerLink="become-author"><i class="bi bi-pencil fa-fw me-2"></i>Become Author</a>
						</li>
						<li><a class="dropdown-item" ><i class="bi bi-info-circle fa-fw me-2"></i>Help</a></li>
						<li><a (click)="signOutUser()" class="dropdown-item bg-danger-soft-hover"><i
									class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<!-- Dark mode switch START -->
						<li>
							<div class="modeswitch-wrap" id="darkModeSwitch">
								<div class="modeswitch-item">
									<div class="modeswitch-icon"></div>
								</div>
								<span>Dark mode</span>
							</div>
						</li>
						<!-- Dark mode switch END -->
					</ul>
					<!-- Profile dropdown END -->
				</li>
			</ul>
			<!-- Profile and notification END -->
		</div>
	</nav>
	<!-- Nav END -->

	<hr class="my-0">

	<!-- Category Nav link START -->
	<nav class="navbar navbar-expand-xl nav-category">
		<div class="container px-0">

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler m-auto w-100" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse2" aria-controls="navbarCollapse2" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="bi bi-grid-fill"></i> Services
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse2" *ngIf="isAuthenticated">
				<!-- Nav Main menu START -->
				<ul class="navbar-nav navbar-nav-scroll mx-auto">
					<!-- Nav item 1 link -->
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active"  id="demoMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Development</a>
						<ul class="dropdown-menu" aria-labelledby="demoMenu">
							<li> <a class="dropdown-item" >Dropdown Item 1</a> </li>
							<li> <a class="dropdown-item" >Dropdown Item 2</a> </li>
						</ul>
					</li> -->

					<!-- Nav item 2 link -->
					<!-- <li class="nav-item"><a class="nav-link" routerLink="/dashboard/admin">Student</a></li> -->

					<!-- Nav item 3 link -->
					<li class="nav-item" *ngIf="role == 'instructor'"><a class="nav-link" href="/dashboard/instructor">Instructor Dashboard</a></li>

					<!-- Nav item 4 link-->
					<li class="nav-item" *ngIf="role == 'admin' "><a class="nav-link" href="/dashboard/admin">Admin Dashboard</a></li>

					

				</ul>
			</div>
			<!-- Main navbar END -->
		</div>
	</nav>
	<!-- Category Nav link END -->

</header>
<!-- Header END -->